@using Newtonsoft.Json
﻿@using Shared.Dtos.Abstractions
@model IPropertyListingDetailDto

<style>
    h4{
        margin-right:25px;
    }

    ul.d-grid{
        font-size:14px;
    }

    li{
        padding:5px;
    }

    .carousel-inner img {
        display: block;
        width: 100%;
        height: auto;
    }
</style>

<div class="hero-title">
    <h2>@Model.Title</h2>
</div>
<div class="single-property section" style="margin-top:50px;margin-left:50px">
    <div class="container">
        <div class="row">
            <div class="col-lg-7">
                <div class="main-image text-center">
                    @{
                        var images = JsonConvert.DeserializeObject<List<string>>(Model.Images) ?? new List<string>();
                    }
                    <div id="image-carousel" class="carousel slide" data-bs-ride="carousel">
                        <div class="carousel-inner">
                            @for (int i = 0; i < images.Count; i++)
                            {
                                <div class="carousel-item@(i == 0 ? " active" : "")">
                                    <img class="d-block w-100" 
                                        src="@($"https://res.cloudinary.com/dzn0ydj19/image/upload/{images[i]}")" 
                                        alt="Product image @(i+1)">
                                </div>
                            }
                        </div>

                        <button class="carousel-control-prev" type="button" data-bs-target="#image-carousel" data-bs-slide="prev">
                            <span class="carousel-control-prev-icon" aria-hidden="true"></span>
                            <span class="visually-hidden">Previous</span>
                        </button>
                        <button class="carousel-control-next" type="button" data-bs-target="#image-carousel" data-bs-slide="next">
                            <span class="carousel-control-next-icon" aria-hidden="true"></span>
                            <span class="visually-hidden">Next</span>
                        </button>
                    </div>
                </div>
                <div class="main-content mt-3">
                    <h4>Details</h4>
                    <p class="card-text">@(Model.Details != null && Model.Details != "" ? Model.Details : Html.Raw("<p class='text-warning'>No details</p>"))</p>
                </div>
                <hr style="margin-top:50px;" />
                <h3 class="card-title" style="margin-top:50px;">Suitable Requests</h3>
                <div>
                    @await Component.InvokeAsync("GetRequestsOfListingComponent", new { listingId = Model.Id })
                </div>
            </div>
            <div class="col-lg-5">
                <div class="info-table">
                    <ul class="d-grid">
                        <li class="row">
                            <strong class="col-5">Client Name Surname</strong>|
                            <span class="col-6">@Model.ClientNameSurname</span>
                        </li>
                        <li class="row">
                            <strong class="col-5">Client Phone Number</strong>|
                            <span class="col-6">@Model.ClientPhoneNumber</span>
                        </li>
                        <li class="row">
                            <strong class="col-5">Client Email Address</strong>|
                            <span class="col-6">@Model.ClientEmailAddress</span>
                        </li>
                        <li class="row">
                            <strong class="col-5">Property Type</strong>|
                            <span class="col-6">@Model.PropertyType</span>
                        </li>
                        <li class="row">
                            <strong class="col-5">Property Status</strong>|
                            <span class="col-6">@Model.PropertyStatus</span>
                        </li>
                        <li class="row">
                            <strong class="col-5">Address</strong>|
                            <span class="col-6">@Model.Address</span>
                        </li>
                        <li class="row">
                            <strong class="col-5">Price</strong>|
                            <span class="col-6">@Model.Price</span>
                        </li>
                        <li class="row">
                            <strong class="col-5">Commission</strong>|
                            <span class="col-6">@Model.Commission</span>
                        </li>
                        <li class="row">
                            <strong class="col-5">Status</strong>|
                            <span class="col-6">@(Model.DealStatus ? "Finalized" : "Waiting for client")</span>
                        </li>
                        @if (Model.DealStatus)
                        {
                            <li class="row">
                                <strong class="col-5">Earning</strong>|
                                <span class="col-6">@Model.Earning</span>
                            </li>
                        }
                        <li class="row">
                            <strong class="col-5">Added Date</strong>|
                            <span class="col-6">@Model.AddedDate</span>
                        </li>
                        @await Component.InvokeAsync("ListingDetailComponent", new { dto = Model })

                    </ul>
                </div>
            </div>
        </div>
    </div>
</div>
<script src="~/lib/owlcarousel2/owl.carousel.min.js"></script>
<script>
    $("#navListing").addClass("active");

    $(document).ready(function(){
      $(".owl-carousel").owlCarousel({
        items:1,
        loop:true,
        autoplay:true,
        autoplayTimeout:3000
      });
    });
</script>