@using Shared.Dtos.PropertyListing.Detail
@model ApartmentListingDetailDto

<tr>
    <td><span>Gross Square Metersize</span> </td>
    <td><span>@Model.GrossSquareMetersize</span></td>
</tr>
<tr>
    <td><span>Square Metersize </span></td>
    <td><span>@Model.SquareMetersize</span></td>
</tr>
<tr>
    <td><span>Block Number</span> </td>
    <td><span>@Model.BlockNumber</span></td>
</tr>
<tr>
    <td><span>Parsel Number</span> </td>
    <td><span>@Model.ParselNumber</span></td>
</tr>
<tr>
    <td><span>Number of Rooms</span> </td>
    <td><span>@Model.NumberOfRooms</span></td>
</tr>
<tr>
    <td><span>Elevator</span> </td>
    <td><span>@(Model.Elevator ? "Yes" : "No")</span></td>
</tr>
<tr>
    <td><span>Floor </span></td>
    <td><span>@Model.Floor</span></td>
</tr>
<tr>
    <td><span>Number of Floors </span></td>
    <td><span>@Model.NumberOfFloor</span></td>
</tr>
<tr>
    <td><span>Usage State </span></td>
    <td><span>@Model.UsageState</span></td>
</tr>
<tr>
    <td><span>Dues </span></td>
    <td><span>@Model.Dues</span></td>
</tr>
<tr>
    <td><span>Age of Building</span> </td>
    <td><span>@Model.AgeOfBuilding</span></td>
</tr>
<tr>
    <td><span>Heating Type</span> </td>
    <td><span>@Model.HeatingType</span></td>
</tr>
<tr>
    <td><span>Eligibity for Loan</span> </td>
    <td><span>@(Model.EligibityForLoan ? "Yes" : "No")</span></td>
</tr>
<tr>
    <td><span>Parking Lot </span></td>
    <td><span>@(Model.ParkingLot ? "Yes" : "No")</span></td>
</tr>
<tr>
    <td><span>Furnished </span></td>
    <td><span>@(Model.Furnished ? "Yes" : "No")</span></td>
</tr>
<tr>
    <td><span>Number of Balcony</span> </td>
    <td><span>@Model.NumberOfBalcony</span></td>
</tr>
<tr>
    <td><span>Number of Bathrooms </span></td>
    <td><span>@Model.NumberOfBathrooms</span></td>
</tr>
<tr>
    <td><span>Price per Metersize </span></td>
    <td><span>@Model.PricePerSquareMetersize <i class="fa fa-dollar"></i></span></td>
</tr>
<tr>
    <td><span>Residental Complex </span></td>
    <td><span>@(Model.IsResidentalComplex ? "Yes" : "No")</span></td>
</tr>