@using Shared.Dtos.PropertyListing.Detail
@model LandListingDetailDto

<li class="row">
    <strong class="col-5">Square Metersize </strong>|
    <span class="col-6">@Model.SquareMetersize</span>
</li>
<li class="row">
    <strong scope="row">Block Number </strong>|
    <span class="col-6">@Model.BlockNumber</span>
</li>
<li class="row">
    <strong class="col-5">Parsel Number </strong>|
    <span class="col-6">@Model.ParselNumber</span>
</li>
<li class="row">
    <strong class="col-5">Sheet Number </strong>|
    <span class="col-6">@Model.SheetNumber</span>
</li>
<li class="row">
    <strong class="col-5">Title Sheet State </strong>|
    <span class="col-6">@(Model.TitleSheetState ? "Yes" : "No")</span>
</li>
<li class="row">
    <strong class="col-5">Price per Metersize </strong>|
    <span class="col-6">@Model.PricePerSquareMetersize <i class="fa fa-dollar"></i></span>
</li>
<li class="row">
    <strong class="col-5">Zoning Status </strong>|
    <span class="col-6">@(Model.ZoningStatus ? "Yes" : "No")</span>
</li>
<li class="row">
    <strong class="col-5">Land Share Eligibity </strong>|
    <span class="col-6">@(Model.LandShareEligibity ? "Yes" : "No")</span>
</li>