@using Shared.Dtos.PropertyListing.Detail
@model ShopListingDetailDto

<li class="row">
    <strong class="col-5">Gross Square Metersize </strong>|
    <span class="col-6">@Model.GrossSquareMetersize</span>
</li>
<li class="row">
    <strong class="col-5">Square Metersize </strong>|
    <span class="col-6">@Model.SquareMetersize</span>
</li>
<li class="row">
    <strong class="col-5">Block Number </strong>|
    <span class="col-6">@Model.BlockNumber</span>
</li>
<li class="row">
    <strong class="col-5">Parsel Number </strong>|
    <span class="col-6">@Model.ParselNumber</span>
</li>
<li class="row">
    <strong class="col-5">Number of Rooms </strong>|
    <span class="col-6">@Model.NumberOfRooms</span>
</li>
<li class="row">
    <strong class="col-5">Elevator </strong>|
    <span class="col-6">@(Model.Elevator ? "Yes" : "No")</span>
</li>
<li class="row">
    <strong class="col-5">Floor </strong>|
    <span class="col-6">@Model.Floor</span>
</li>
<li class="row">
    <strong class="col-5">Number of Floors </strong>|
    <span class="col-6">@Model.NumberOfFloor</span>
</li>
<li class="row">
    <strong class="col-5">Usage State </strong>|
    <span class="col-6">@Model.UsageState</span>
</li>
<li class="row">
    <strong class="col-5">Dues</strong>|
    <span class="col-6">@Model.Dues</span>
</li>
<li class="row">
    <strong class="col-5">Age of Building </strong>|
    <span class="col-6">@Model.AgeOfBuilding</span>
</li>
<li class="row">
    <strong class="col-5">Heating Type </strong>|
    <span class="col-6">@Model.HeatingType</span>
</li>
<li class="row">
    <strong class="col-5">Eligibity for Loan </strong>|
    <span class="col-6">@(Model.EligibityForLoan ? "Yes" : "No")</span>
</li>
<li class="row">
    <strong class="col-5">Parking Lot </strong>|
    <span class="col-6">@(Model.ParkingLot ? "Yes" : "No")</span>
</li>
<li class="row">
    <strong class="col-5">Furnished </strong>|
    <span class="col-6">@(Model.Furnished ? "Yes" : "No")</span>
</li>