@using Shared.Dtos.PropertyListing.Detail
@model ShopListingDetailDto

<tr>
    <td scope="row">Gross Square Metersize </td>
    <td>@Model.GrossSquareMetersize</td>
</tr>
<tr>
    <td scope="row">Square Metersize </td>
    <td>@Model.SquareMetersize</td>
</tr>
<tr>
    <td scope="row">Block Number </td>
    <td>@Model.BlockNumber</td>
</tr>
<tr>
    <td scope="row">Parsel Number </td>
    <td>@Model.ParselNumber</td>
</tr>
<tr>
    <td scope="row">Number of Rooms </td>
    <td>@Model.NumberOfRooms</td>
</tr>
<tr>
    <td scope="row">Elevator </td>
    <td>@(Model.Elevator ? "Yes" : "No")</td>
</tr>
<tr>
    <td scope="row">Floor </td>
    <td>@Model.Floor</td>
</tr>
<tr>
    <td scope="row">Number of Floors </td>
    <td>@Model.NumberOfFloor</td>
</tr>
<tr>
    <td scope="row">Usage State </td>
    <td>@Model.UsageState</td>
</tr>
<tr>
    <td scope="row">Dues</td>
    <td>@Model.Dues</td>
</tr>
<tr>
    <td scope="row">Age of Building </td>
    <td>@Model.AgeOfBuilding</td>
</tr>
<tr>
    <td scope="row">Heating Type </td>
    <td>@Model.HeatingType</td>
</tr>
<tr>
    <td scope="row">Eligibity for Loan </td>
    <td>@(Model.EligibityForLoan ? "Yes" : "No")</td>
</tr>
<tr>
    <td scope="row">Parking Lot </td>
    <td>@(Model.ParkingLot ? "Yes" : "No")</td>
</tr>
<tr>
    <td scope="row">Furnished </td>
    <td>@(Model.Furnished ? "Yes" : "No")</td>
</tr>