@model PropertyListing

<style>
    .container{
        font-size:1.10em;
        color: #000000;
        width: 35%;
    }

    .col-6{
        display:flex;
        align-items:center;
        justify-content:end;
    }

    .row > .col-6:first-child{
        justify-content: end;
    }

    .row > .col-6:last-child {
        border-left:1px solid gray;
        justify-content:start;
    }

    .row {
        padding: 3px;
        border-bottom: 1px solid gray;
    }

    .pt-4{
        padding:0;
        margin:0;
        box-sizing:border-box;
    }

    

    footer .row{
        padding:0;
        border:none;
    }
</style>

<h1 class="text-center mt-4">@Model.Title</h1>
<div class="d-flex justify-content-between pt-4">
    <div class="container d-grid">
        <table class="table table-striped">
        
            <tbody>
                <tr>
                    <th scope="row">Client Name Surname</th>
                    <td>@Model.Client.NameSurname</td>
                </tr>
                <tr>
                    <th scope="row">Client Phone Number</th>
                    <td>@Model.Client.PhoneNumber</td>
                </tr>
                <tr>
                    <th scope="row">Client Email Address</th>
                    <td>@Model.Client.Email</td>
                </tr>
                <tr>
                    <th scope="row">Property Type</th>
                    <td>@Model.PropertyType.PropertyName</td>
                </tr>
                <tr>
                    <th scope="row">For Sale/Rent</th>
                    <td>@Model.IsForSaleOrRent</td>
                </tr>
                <tr>
                    <th scope="row">Address</th>
                    <td>@Model.Neighbourhood, @Model.District, @Model.City</td>
                </tr>
                <tr>
                    <th scope="row">Price</th>
                    <td>@Model.Price</td>
                </tr>
                <tr>
                    <th scope="row">Commission</th>
                    <td>@Model.Commission</td>
                </tr>
                <tr>
                    <th scope="row">Status</th>
                    <td>@(Model.IsSoldOrRented ? "Sold/Rented" : "Waiting for client")</td>
                </tr>
                @if (Model.IsSoldOrRented)
                {
                    <tr>
                        <th scope="row">Earning</th>
                        <td>@Model.Earning</td>
                    </tr>
                }
                <tr>
                    <th scope="row">Added Date</th>
                    <td>@Model.AddedDate</td>
                </tr>
            </tbody>
        </table>
    </div>
    <div class="container d-grid">
        <table class="table table-striped">
            <tbody>
            @if (Model.PropertyType.Id == 1)
            {
                <partial name="../PartialViews/Shop" model=@Model.Shop></partial>
            }
            @if (Model.PropertyType.Id == 2)
            {
                <partial name="../PartialViews/Land" model=@Model.Land></partial>
            }
            @if (Model.PropertyType.Id == 3)
            {
                <partial name="../PartialViews/CommercialUnit" model=@Model.CommercialUnit></partial>
            }
            @if (Model.PropertyType.Id == 4)
            {
                <partial name="../PartialViews/Farmland" model=@Model.Farmland></partial>
            }
            @if (Model.PropertyType.Id == 5)
            {
                <partial name="../PartialViews/Apartment" model=@Model.Apartment></partial>
            }
            </tbody>
        </table>
    </div>
</div>
<div class="container w-100 mt-5">
    Details : @Model.Details
</div>
<div class="mt-4">
    <div class="container-fluid pt-4 px-4">
    <h3>Suitable requests for this listing</h3>

    @await Component.InvokeAsync("GetRequestsOfListingComponent", new { listingId = Model.Id })
    </div>
</div>
<script>
    $("#navListing").addClass("active");
</script>