@model Farmland

<tr>
    <td scope="row">Square Metersize </td>
    <td>@Model.SquareMeterSize</td>
</tr>
<tr>
    <td scope="row">Block Number </td>
    <td>@Model.BlockNumber</td>
</tr>
<tr>
    <td scope="row">Parsel Number </td>
    <td>@Model.ParselNumber</td>
</tr>
<tr>
    <td scope="row">Sheet Number </td>
    <td>@Model.SheetNumber</td>
</tr>
<tr>
    <td scope="row">Price per Square Metersize </td>
    <td>@Model.PricePerSquareMeter</td>
</tr>
<tr>
    <td scope="row">Title Deed State </td>
    <td>@(Model.TitleDeedState ? "Yes" : "No")</td>
</tr>
<tr>
    <td scope="row">Zoning Status </td>
    <td>@(Model.ZoningStatus ? "Yes" : "No")</td>
</tr>