@using Shared.Dtos.PropertyRequest
@model PropertyRequestDetailDto

<style>
    h4 {
        margin-right: 25px;
    }

    ul {
        font-size: 14px;
    }

    li {
        padding: 5px;
    }
</style>

<div class="hero-title">
    <h2>@Model.Title</h2>
</div>
<div class="container my-5 w-50" style="margin-left:50px; margin-top:50px;">
    <div>
        <div class="info-table">
            <ul class="d-grid">
                <li class="row">
                    <strong class="col-5">Client Name Surname</strong>|
                    <span class="col-6">@Model.ClientNameSurname</span>
                </li>
                <li class="row">
                    <strong class="col-5">Client Phone Number</strong>|
                    <span class="col-6">@Model.ClientPhoneNumber</span>
                </li>
                <li class="row">
                    <strong class="col-5">Client Email Address</strong>|
                    <span class="col-6">@Model.ClientEmailAddress</span>
                </li>
                <li class="row">
                    <strong class="col-5">Property Type</strong>|
                    <span class="col-6">@Model.PropertyType</span>
                </li>
                <li class="row">
                    <strong class="col-5">Property Status</strong>|
                    <span class="col-6">@Model.PropertyStatus</span>
                </li>
                <li class="row">
                    <strong class="col-5">City</strong>|
                    <span class="col-6">@Model.City</span>
                </li>
                <li class="row">
                    <strong class="col-5">Districts</strong>|
                    <span class="col-6">@Model.Districts</span>
                </li>
                <li class="row">
                    <strong class="col-5">Price Range</strong>|
                    <span class="col-6">@Model.MinPrice <i class="fa fa-dollar"></i> - @Model.MaxPrice <i class="fa fa-dollar"></i></span>
                </li>
                @if(Model.PropertyTypeId == 1 || Model.PropertyTypeId == 5)
                {
                    <li class="row">
                        <strong class="col-5">Number of Rooms</strong>|
                        <span class="col-6">@Model.NumberOfRooms</span>
                    </li>
                }
                <li class="row">
                    <strong class="col-5">Deal Status</strong>|
                    <span class="col-6">@(Model.Status ? "Finalized" : "Still looking for property")</span>
                </li>
                <li class="row">
                    <strong class="col-5">Added Date</strong>|
                    <span class="col-6">@Model.AddedDate</span>
                </li>

            </ul>
        </div>
    </div>

    <div class="main-content mt-3">
        <h4>Details</h4>
        <p class="card-text">@(Model.Details != null && Model.Details != "" ? Model.Details : Html.Raw("<p class='text-warning'>No details</p>"))</p>
    </div>
    <hr style="margin-top:50px;" />
    <h3 class="card-title" style="margin-top:50px;">Suitable Listings</h3>
    <div>
        @await Component.InvokeAsync("GetListingsOfRequestComponent", new { requestId = Model.Id })
    </div>
</div>

<script>
    $("#navRequest").addClass("active");
</script>