@model PropertyRequest

<style>
    .container{
        font-size:1.25em;
        color: #000000;
        width: 65%;
    }

    .col-6{
        display:flex;
        align-items:center;
        justify-content:end;
    }

    .row > .col-6:first-child{
        justify-content: end;
    }

    .row > .col-6:last-child {
        border-left:1px solid gray;
        justify-content:start;
    }

    .row {
        padding: 3px;
        border-bottom: 1px solid gray;
    }

    .pt-4{
        padding:0;
        margin:0;
        box-sizing:border-box;
    }

    footer .row{
        padding:0;
        border:none;
    }
</style>

<div class="container my-5">
    <div class="text-center">
        <h1 class="display-5 fw-bold">@Model.Title</h1>
    </div>

    <div class="card shadow-sm mt-4">
        <div class="card-body">
            <h5 class="card-title text-center mb-4">Request Details</h5>
            <div class="table-responsive">
                <table class="table table-bordered align-middle">
                    <tbody>
                        <tr>
                            <th scope="row" class="text-nowrap">Client Name Surname</th>
                            <td>@Model.Client.NameSurname</td>
                        </tr>
                        <tr>
                            <th scope="row" class="text-nowrap">Client Email Address</th>
                            <td>@Model.Client.Email</td>
                        </tr>
                        <tr>
                            <th scope="row" class="text-nowrap">Property Type</th>
                            <td>@Model.PropertyType.PropertyName</td>
                        </tr>
                        <tr>
                            <th scope="row" class="text-nowrap">Property Status</th>
                            <td>@Model.PropertyStatus.Name</td>
                        </tr>
                        @if (ViewBag.DistrictsAndRooms.districts.Count != 0)
                        {
                            <tr>
                                <th scope="row" class="text-nowrap">Districts</th>
                                <td>
                                    @{
                                        var districts = string.Join(", ", ViewBag.DistrictsAndRooms.districts);
                                        @districts
                                    }
                                </td>
                            </tr>
                        }
                        <tr>
                            <th scope="row" class="text-nowrap">Price Range</th>
                            <td>@Model.MinimumPrice <i class="fa fa-dollar"></i> - @Model.MaximumPrice <i class="fa fa-dollar"></i></td>
                        </tr>
                        @if (ViewBag.DistrictsAndRooms.rooms.Count != 0)
                        {
                            <tr>
                                <th scope="row" class="text-nowrap">Number of Rooms</th>
                                <td>
                                    @{
                                        var rooms = string.Join(", ", ViewBag.DistrictsAndRooms.rooms);
                                        @rooms
                                    }
                                </td>
                            </tr>
                        }
                        <tr>
                            <th scope="row" class="text-nowrap">Added Date</th>
                            <td>@Model.AddedDate.ToString("yyyy-MM-dd")</td>
                        </tr>
                    </tbody>
                </table>
            </div>
        </div>
    </div>

    <div class="card shadow-sm mt-4">
        <div class="card-body">
            <h5 class="card-title">Details</h5>
            <p class="card-text">@Model.Details</p>
        </div>
    </div>

    <div class="card shadow-sm mt-4">
        <div class="card-body">
            <h3 class="card-title">Suitable Listings</h3>
            <div>
                @await Component.InvokeAsync("GetListingsOfRequestComponent", new { requestId = Model.Id })
            </div>
        </div>
    </div>
</div>

<script>
    $("#navRequest").addClass("active");
</script>