@using Shared.Dtos.PropertyRequest
@model PropertyRequestDetailDto

<style>
    .container{
        font-size: 1.1em;
        color: #000000;
        width: 65%;
    }

    .col-6{
        display:flex;
        align-items:center;
        justify-content:end;
    }

    .row > .col-6:first-child{
        justify-content: end;
    }

    .row > .col-6:last-child {
        border-left:1px solid gray;
        justify-content:start;
    }

    .row {
        padding: 3px;
        border-bottom: 1px solid gray;
    }

    .pt-4{
        padding:0;
        margin:0;
        box-sizing:border-box;
    }

    footer .row{
        padding:0;
        border:none;
    }
</style>

<div class="container my-5">
    <div class="text-center">
        <h3 class="display-5 fw-bold">@Model.Title</h3>
    </div>

    <div class="card shadow-sm mt-4">
        <div class="card-body">
            <h5 class="card-title text-center mb-4">Request Details</h5>
            <div class="table-responsive">
                <table class="table table-bordered align-middle">
                    <tbody>
                        <tr>
                            <th scope="row" class="text-nowrap">Client Name Surname</th>
                            <td>@Model.ClientNameSurname</td>
                        </tr>
                        <tr>
                            <th scope="row" class="text-nowrap">Client Email Address</th>
                            <td>@Model.ClientEmailAddress</td>
                        </tr>
                        <tr>
                            <th scope="row" class="text-nowrap">Property Type</th>
                            <td>@Model.PropertyType</td>
                        </tr>
                        <tr>
                            <th scope="row" class="text-nowrap">Property Status</th>
                            <td>@Model.PropertyStatus</td>
                        </tr>
                        <tr>
                            <th scope="row" class="text-nowrap">City</th>
                            <td>@Model.City</td>
                        </tr>
                        <tr>
                            <th scope="row" class="text-nowrap">Districts</th>
                            <td>@Model.Districts</td>
                        </tr>
                        <tr>
                            <th scope="row" class="text-nowrap">Price Range</th>
                            <td>@Model.MinPrice <i class="fa fa-dollar"></i> - @Model.MaxPrice <i class="fa fa-dollar"></i></td>
                        </tr>
                        @if(Model.PropertyTypeId == 1 || Model.PropertyTypeId == 5)
                        {
                            <tr>
                                <th scope="row" class="text-nowrap">Number of Rooms</th>
                                <td>@Model.NumberOfRooms</td>
                            </tr>
                        }
                        <tr>
                            <th scope="row" class="text-nowrap">Deal Status</th>
                            <td>@(Model.Status ? "Finalized" : "Still looking for property")</td>
                        </tr>
                        <tr>
                            <th scope="row" class="text-nowrap">Added Date</th>
                            <td>@Model.AddedDate</td>
                        </tr>
                    </tbody>
                </table>
            </div>
        </div>
    </div>

    <div class="card shadow-sm mt-4">
        <div class="card-body">
            <h5 class="card-title">Details</h5>
            <p class="card-text">@(Model.Details != null && Model.Details != "" ? Model.Details : Html.Raw("<p class='text-warning'>No details</p>"))</p>
        </div>
    </div>

    <div class="card shadow-sm mt-4">
        <div class="card-body">
            <h3 class="card-title">Suitable Listings</h3>
            <div>
                @await Component.InvokeAsync("GetListingsOfRequestComponent", new { requestId = Model.Id })
            </div>
        </div>
    </div>
</div>

<script>
    $("#navRequest").addClass("active");
</script>